{% extends "apps/base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block saludo %}
	<h3>
		SISTEMA WEB "TEST DE ANCIEDAD EN ADULTOS"
	</h3>
{% endblock %}
{% block content%}
	{% url 'auth_login' as auth_login_url %}
	{% url 'registration_register' as register_url%}

	<div style="position: absolute; left:50%; margin-left: -100px; display: inline-block;">
		<form  class="form-signin" method='post' action=''>
			
				<p class="text-muted text-center btn-block btn btn-primary btn-rect" >
					Restablecer Contraseña
				</p>
			<p>
				Ingrese el correo con el cual se registro para<br>
				restablecer la contraseña
			</p>

			{% csrf_token %}
			<table>
			    {{ form }}
			    <tr>
			    	<td></td>
			    	<td>
			    		<input class="btn text-muted text-center btn-success" type='submit' value="{% trans 'Reset password'  %}" />
			    	</td>
			    </tr>
			</table>
		</form>
		<li><a href="{% url 'auth_login' %}">Login</a>
	</div>
    
{% endblock %}


	 
